@import "_nullstyle";

// VARIABLES //

$cwhite: #fff;
$cblue: #3726F2;
$ls: 0.7px;
$fw300: 300;
$fw700: 700;
$fs: 29.78px;

// TEMPLATE // 

%fontstyle300 {
   color: $cwhite;
   letter-spacing: $ls;
}

%fontstyle700 {
   font-size: $fs;
   font-weight: $fw700;
   color: $cwhite;
   letter-spacing: $ls;
}

%fontstyle300 {
   font-weight: $fw300;
   color: $cwhite;
   letter-spacing: $ls;
}

%btnstyle {
   padding: 12px 21px;
   min-width: 150px;
   color: $cwhite;
   background-color: transparent;
   border: 1px solid $cwhite;
   font-size: 20px;
   letter-spacing: 3.5px;
   font-weight: 500;
   transition: color .6s ease 0s, background-color .6s ease 0s;
   margin: 0px 0px 24px 0px;
   &:hover {
      color: $cblue;
      background-color: $cwhite;
   }
}

// CONTAINER & WRAPPER //

._container {
   max-width: 1200px;
   margin: 0 auto;
   padding: 0 15px;
   box-sizing: content-box;
   /* transition: all .3s ease 0s; */
}
.wrapper {
   display: flex;
   flex-direction: column;
   height: 100vh;
   background-color: $cblue;
}

// WELCOME //

.welcome {
   display: none;
   &__content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      padding: 217px 0px 347px 0px;
   }
   &__button {
      @extend %btnstyle;
   }
   h1 {
      @extend %fontstyle700;
   }
   h2 {
      @extend %fontstyle700;
      margin: 0px 0px 14px 0px;
   }
   h3 {
      @extend %fontstyle300;
      margin: 0px 0px 34px 0px;
   }
}

// CHOISE //

.choice {
   display: none;
   text-align: center;
   &__content {
      display: inline-block;
      padding: 253px 0px 0px 0px;
   }
   &__button {
      @extend %btnstyle;
   }
   h2 {
      @extend %fontstyle700;
      margin: 0px 0px 14px 0px;
   }
}

// GENERATE //

.generate {
   display: none;
   text-align: center;
   &__content {
      display: inline-block;
      padding: 253px 0px 0px 0px;
   }
   &__button {
      @extend %btnstyle;
   }
   &__input {
      height: 50px;
      width: 100%;
      margin: 0px 0px 24px 0px;
      font-family: Fira Sans;
      font-weight: 400;
      font-size: 16px;
      color: rgb(50, 50, 50);
      padding: 0px 0px 0px 20px;
   }
   h2 {
      @extend %fontstyle700;
      margin: 0px 0px 14px 0px;
   }
}
.buttons__row {
   display: flex;
   justify-content: space-between;
}

.active {
   display: block;
}








